@font-face{
	font-family:'perfectfutures';
	src: url('../components/fonts/perfectfutures.woff2') format('woff2'),
	url('../components/fonts/perfectfutures.woff') format('woff');
	font-weight:normal;
	font-style: normal;
}
