@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poltawski+Nowy:wght@500&display=swap');

h3{
    font-family: 'Bebas Neue', cursive;
    

}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poltawski+Nowy:wght@500&display=swap');
h{
    font-family: 'Bebas Neue', cursive;
    font-size: 28px;
    
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poltawski+Nowy:wght@500&display=swap');
h1{
    font-family: 'Bebas Neue', cursive;
}
