@media screen and (max-width:760px){
    header{
        display: flex;
        flex-direction: column;
       
        
    }
    main{
        flex-direction: column;
        width: 50%;
    }h1{
        line-height: 40px;
    }
    h2{
        font-size: 38px;
        line-height: 40px;

    }form{
        margin: 0 auto;
        width: 70%;
    }input{
        align-self: center;
    }img{
        display: flex;
        flex-direction: row;

    }p{
        text-align: center;
    }#submit{
        width: 20;
        height: 40;
        font-size: 8px;
    }
}